language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm # on Trusty only

install: travis_retry composer install --no-interaction --prefer-source

script: ./vendor/bin/phpunit
dist: trusty